.farm {
  font-family: 'Dokdo', cursive;
  width: 180px;  
}

.Cow {

  position: 30px;

-webkit-animation: cow-move 7s linear infinite normal;
          animation: cow-move 7s linear infinite normal;
}
@-webkit-keyframes cow-move {
  0% {
    -webkit-transform: translateX(-150px);
            transform: translateX(-150px);
  }
  100% {
    -webkit-transform: translateX(1750px);
            transform: translateX(1750px);
  }
}
@keyframes cow-move {
  0% {
    -webkit-transform: translateX(-150px);
            transform: translateX(-150px);
  }
  100% {
    -webkit-transform: translateX(1750px);
            transform: translateX(1750px);
  }
}


.Sheep {

  margin-left: 1500px;

-webkit-animation: sheep-move 2s linear infinite normal;
          animation: sheep-move 2s linear infinite normal;
}
@-webkit-keyframes sheep-move {
  0% {
    -webkit-transform: translateY(150px);
            transform: translateY(150px);
  }
  100% {
    -webkit-transform: translateY(-1000px);
            transform: translateY(-1000px);
  }
}
@keyframes sheep-move {
  0% {
    -webkit-transform: translateY(150px);
            transform: translateY(150px);
  }
  100% {
    -webkit-transform: translateY(-1000px);
            transform: translateY(-1000px);
  }
}



.Snake {

  position: 15px;
 
  

-webkit-animation: snake-move 7s linear infinite normal;
          animation: snake-move 7s linear infinite normal;
}
@-webkit-keyframes snake-move {
  0% {
    -webkit-transform: translateY(150px);
            transform: translateY(150px);
  }
  100% {
    -webkit-transform: translateY(-1000px);
            transform: translateY(-1000px);
  }
}
@keyframes snake-move {
  0% {
    -webkit-transform: translateY(150px);
            transform: translateY(150px);
  }
  100% {
    -webkit-transform: translateY(-1000px);
            transform: translateY(-1000px);
  }
}

.Rooster {

 margin-left:800px;

  

-webkit-animation: Rooster-move 5s linear infinite normal;
          animation: Rooster-move 5s linear infinite normal;
}
@-webkit-keyframes Rooster-move {
  0% {
    -webkit-transform: translateY(-1500px);
            transform: translateY(-1500px);
  }
  100% {
    -webkit-transform: translateY(200px);
            transform: translateY(200px);
  }
}
@keyframes Rooster-move {
  0% {
    -webkit-transform: translateY(-1500px);
            transform: translateY(-1500px);
  }
  100% {
    -webkit-transform: translateY(200px);
            transform: translateY(200px);
  }
}


.Pig {

  position: 155px;
  
  

-webkit-animation: pig-move 4s linear infinite normal;
          animation: pig-move 4s linear infinite normal;
}
@-webkit-keyframes pig-move {
  0% {
    -webkit-transform: translateX(-150px);
            transform: translateX(-150px);
  }
  100% {
    -webkit-transform: translateX(1750px);
            transform: translateX(1750px);
  }
}
@keyframes pig-move {
  0% {
    -webkit-transform: translateX(-150px);
            transform: translateX(-150px);
  }
  100% {
    -webkit-transform: translateX(1750px);
            transform: translateX(1750px);
  }
} 